/* LeftPanel.module.css */

.link {
  padding: 13px;
  color: #C7C9FF;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  margin-bottom: 15px;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.active {
  background-color: #3B2FC4;
  color: #fff;
}